<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">-->
<!--<head th:replace="fragments/header :: header('email')"></head>-->
<!--<body>-->
<!--<div th:replace="fragments/navbar :: navbar"></div>-->
<!--<script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->
<!--<script-->
        <!--src="https://code.jquery.com/jquery-3.1.1.min.js"-->
        <!--integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="-->
        <!--crossorigin="anonymous"></script>-->
<!--<script>-->
    <!--"use strict";-->
    <!--(function() {-->
        <!--var interakt = document.createElement('script');-->
        <!--interakt.type = 'text/javascript'; interakt.async = true;-->
        <!--interakt.src = "//cdn.interakt.co/interakt/1a9549c59c29a99522dce15c418a6ab9.js";-->
        <!--var scrpt = document.getElementsByTagName('script')[0];-->
        <!--scrpt.parentNode.insertBefore(interakt, scrpt);-->
    <!--})();-->

    <!--//    Replace the values in the //TODO fields with data values from your project, the data you send will be linked shown against the user that will help you segment users on-->
    <!--window.mySettings = {-->
        <!--// TODO: The current logged in user's email address.-->
        <!--email: 'abc@example.com',-->
        <!--// TODO: The current logged in user's sign-up date in Unix epoch time.-->
        <!--created_at: 1356978600,-->
        <!--app_id: '1a9549c59c29a99522dce15c418a6ab9',-->
        <!--// Sending Custom Hash with unique_id-->
        <!--purchase : {-->
            <!--unique_id : 127, //required for custom hashes otherwise the custom data is rejected // Unique String or Integer-->
            <!--order_id : 30222-->
        <!--}-->
    <!--};-->
<!--</script>-->
<!--<div th:replace="fragments/footer :: footer"></div>-->
<!--</body>-->
<!--</html>-->