<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Register')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<form th:action="@{/forms/login}" method="POST" th:object="">
    <!-- Username -->
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" id="username" class="form-control">
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" id="password" class="form-control">
    </div>
    <button class="btn" type="submit">Register</button>
</form>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>