<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Register')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="POST">
    <!-- Username -->
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" id="username" class="form-control" type="text" />
    </div>
    <!-- Password -->
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" id="password" class="form-control" type="password" />
    </div>
    <button class="btn" type="submit">Login</button>
</form>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>