<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Register - ARTiScene')"></head>

<body class="form" id="register-form">
<div th:replace="fragments/navbar :: navbar"></div>

<div class="form-body">

    <div class="form-header">
        <h1 class="header">Register</h1>
    </div> <!-- end of form header div -->

    <div id="register-form-container" class="container">
        <form class="form-horizontal" th:action="@{/forms/register}" method="POST" th:object="${user}">
            <!-- Username -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="username">Username</label>
                <div class="col-sm-6">
                    <input type="text" name="username" id="username" class="form-control" th:field="*{username}" />
                </div>
            </div> <!-- end of username group -->
            <!-- username error text -->
            <div th:if="${#fields.hasErrors('username')}" class="error-text">
                Username Required
            </div>
            <!-- Email -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="email">Email</label>
                <div class="col-sm-6">
                    <input name="email" id="email" class="form-control" th:field="*{email}"/>
                </div>
            </div> <!-- end of email group -->
            <!-- email error text -->
            <div th:if="${#fields.hasErrors('email')}" class="error-text">
                Email Required
            </div>
            <!-- Password -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="password">Password</label>
                <div class="col-sm-6">
                    <input name="password" type="password" id="password" class="form-control" th:field="*{password}"/>
                </div>
            </div> <!-- end of password group -->
            <!-- password error text -->
            <div th:if="${#fields.hasErrors('password')}" class="error-text">
                Password Required
            </div>
            <!--Confirm Password -->
            <div class="form-group">
                <label class="control-label col-sm-4" for="confirm-password">Confirm Password</label>
                <div class="col-sm-6">
                    <input name="confirm-password" type="password" id="confirm-password" class="form-control"/>
                </div>
            </div> <!-- end of confirm password group-->


            <button class="btn btn-lg btn-primary center-block" type="submit">Register</button>
            <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}" />
        </form>
    </div>
</div><!-- end of form body -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>