<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:include="fragments/header :: header('View - ARTiScene')">
</head>
<body class="page">

<div id="btn-block" class="container-fluid">
    <div class="text-center" id="btn-div">
        <button type="button" VALUE="Back" class="btn btn-primary" onClick="history.go(-1);return true;">Go Back</button>
        <form th:action="${'/portfolio/' + project.user.id}">
        <button class="btn btn-custom"  >Visit <span th:text="${project.user.username}"></span>'s Portfolio </button>
        </form>
    </div> <!-- end of btn-div -->
</div> <!-- end of container -->

<div id="display-artwork-div">
    <img class="center-block" th:attr="src=${'/uploads/' + project.img_url}" />
</div> <!-- end of display artwork -->

<div id="artwork-info">
    <p><span id="view-title" th:text="${project.title}"></span></p>
    <p><span id="view-medium" th:text="${project.medium}"></span></p>
    <p><span id="view-size" th:text="${project.size}"></span></p>
    <p><span id="view-date" th:text="${project.date}"></span></p>
    <div id="view-tags-div" class="container">
        <h5>Tags for this piece:</h5>
        <p id="view-tags" th:each="tag:${project.tags}"> | <span th:text="${tag.name}"></span> | </p>
    </div><!-- end of view tags div -->
</div> <!-- end of artwork info -->

<form th:if="${showDeleteControls}" th:method="POST" th:action="@{/project/delete}">
    <input type="hidden" name="id" th:value="${project.id}" />
    <!--<a class="btn btn-primary" th:href="@{'/project/'+ ${id} +'/edit' }">Edit</a>-->
    <button class="btn deep-orange darken-4">Delete</button>
</form>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<form  th:action="@{'/forms/payment'}" method="POST">
    <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="pk_test_JKbmxAoOv4rgoznSpQ9RMgjF"
            data-name="Payment"
            data-description="$${project.price}"
            th:attr="data-description=${'$' + project.price},data-amount=${project.price * 100}">
    </script>
    <input type="hidden" name="projectId" th:value="${project.id}"/>
</form>


</body>
</html>