<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('ARTiScene')"></head>
<body>

    <div th:fragment="navbar">
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header navbar-custom">
                    <a class="navbar-brand" th:href="@{/}">ARTiScene</a>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-custom">

                    <span sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right navbar-custom">
                        <li><a th:href="@{/gallery}">Gallery</a></li>
                        <li><a th:href="@{/forum}">Forum</a></li>

                        <li><a th:href="@{/portfolio}">Portfolio</a></li>
                        <li>
                            <form th:action="@{/logout}" th:method="POST">
                                <button class="btn-link">Logout</button>
                            </form>
                        </li>
                    </span>
                    <span sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right navbar-custom">
                        <li><a th:href="@{/gallery}">Gallery</a></li>
                        <li><a th:href="@{/forum}">Forum</a></li>
                        <li><a href="#login-modal" data-toggle="modal" data-target="#login-modal">Log-in</a></li>

                        <!--<li><a th:href="@{/register}">Register</a></li>-->
                        <li><a href="#register-modal" data-toggle="modal" data-target="#register-modal">Register</a></li>
             </span>

                </ul>
            </div>
        </nav>


        <div th:replace="fragments/login-modal :: login-modal"></div>

        <div th:replace="fragments/register-modal :: register-modal"></div>


    </div><!-- end of fragment div -->
    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>