<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="tags-list">
<select id="tag-select" class="form-control" multiple="multiple">
    <option>acrylic</option>
    <option>watercolor</option>
    <option>charcoal</option>
    <option>ink</option>
    <option>color</option>
    <option>black and white</option>
    <option>mixed</option>
    <option>prints</option>
    <option>woodcut</option>
    <option>graphite</option>
    <option>prisma</option>
    <option>chalk</option>
    <option>conte</option>
    <option>gouache</option>
    <option>clay</option>
    <option>pottery</option>
    <option>marker</option>
    <option>oil</option>
    <option>tempera</option>
    <option>pastel</option>
    <option>fabric</option>
    <option>scratchboard</option>
    <option>wood</option>
    <option>wire</option>
    <option>glass</option>
    <option>metal</option>
    <option>plaster</option>
    <option>blacklight</option>
    <option>magna</option>
    <option>stencil</option>
    <option>enamel</option>
    <option>ink wash</option>
    <option>stippling</option>
    <option>line work</option>
    <option>hatching</option>
    <option>traditional</option>
    <option>mosaic</option>
    <option>photography</option>
    <option>dark room</option>
    <option>computer </option>
    <option>printing</option>
    <option>engraving</option>
    <option>lithographic</option>
    <option>etching</option>
    <option>print making</option>
    <option>relief printing</option>
    <option>screen printing</option>
    <option>comic</option>
    <option>found objects</option>
    <option>textile</option>
    <option>commissioned</option>
    <option>w.i.p</option>
    <option>graphic design</option>
    <option>performance</option>
    <option>phototshop</option>
    <option>collage</option>
    <option>professional</option>
    <option>graffiti</option>
    <option>mural</option>
    <option>street art</option>
    <option>crayon</option>
    <option>sand</option>
    <option>color pencil</option>
    <option>figure drawing</option>
    <option>nude</option>
    <option>realism</option>
    <option>abstract</option>
    <option>direct observation</option>
    <option>surrealism</option>
    <option>amateur</option>
    <option>political</option>
    <option>calligraphy</option>
    <option>illustration</option>
    <option>fine art</option>
    <option>fan art</option>
    <option>tapestry</option>
    <option>conceptual</option>
    <option>cartoon</option>
    <option>ceramic</option>
    <option>canvas</option>
    <option>fashion</option>
    <option>tattoo</option>
    <option>body mod</option>
    <option>body paint</option>
    <option>mixed</option>

</select>
</div>

</body>
</html>