<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header('Upload Modal')"></head>
<body>

<div th:fragment="upload-modal" id="upload-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <form class="form-horizontal" th:action="@{/portfolio}" method="POST" th:object="${project}" enctype="multipart/form-data">

                <div class="modal-header">
                    <h4 class="modal-title">Upload Artwork</h4>
                </div> <!-- end of modal header -->

                <div class="modal-body">
                    <!-- Artwork Title -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="artwork-title">Title <span class="required-field">*</span> </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="artwork-title" name="artwork-title" th:field="*{title}" />
                        </div>
                    </div> <!-- end of artwork title -->
                    <!-- Artwork Medium -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="artwork-medium">Medium </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="artwork-medium" name="artwork-medium" th:field="*{medium}" />
                        </div>
                    </div> <!-- end of artwork medium -->
                    <!-- Artwork Size -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="artwork-size">Size </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="artwork-size" name="artwork-size" th:field="*{size}"/>
                        </div>
                    </div> <!-- end of artwork size-->
                    <!-- Artwork Date -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="artwork-date">Date </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="artwork-date" name="artwork-date" th:field="*{date}"/>
                        </div>
                    </div> <!-- end of artwork date -->

                    <!-- Tag Selection -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="tag-select">Choose tags</label>
                        <select id="tag-select" class="form-control" multiple="multiple" name="tags">
                            <option th:each="tag: ${tags}" th:value="${tag.id}" th:text="${tag.name}" >

                            </option>
                        </select>
                        <p class="error-text">* At least 1 tag required</p>
                    </div> <!-- end of tag selection -->

                    <div id="for-sale-div" class="col-md- col-md-offset-4">
                        <!-- For Sale -->
                        <div class="checkbox">
                            <label id="for-sale-label">
                            <input id="for-sale-checkbox" class="checkbox" type="checkbox" value="1" name="forSale" />
                                For Sale
                            </label>
                        </div> <!-- end of for sale checkbox-->
                        <!-- Price if For Sale is checked -->
                        <div id="price-div" class="form-group">
                            <label class="control-label col-sm-2 offset-sm-2" for="artwork-price">Price <span class="required-field">*</span> $</label>
                            <input id="artwork-price" name="artwork-price" type="text" th:field="*{price}"/>
                        </div><!-- end of artwork price -->
                    </div><!-- end of for sale div -->

                    <!-- Upload File -->
                    <div class="form-group">
                        <label for="file" class="control-label col-sm-2" >Upload <span class="required-field">*</span></label>
                        <input id="file" name="file" type="file" accept="image/*" onchange="loadFile(event)" />
                        <img id="output"/>
                        <p id="max-file" class="error-text">* Max file size is 10MB</p>
                    </div><!-- end of upload file -->
                </div> <!-- end of modal body -->

                <div class="modal-footer">
                    <input id="upload-btn" class="btn btn-success" type="submit" value=" Upload " />
                    <input type="hidden" th:attr="name=${_csrf.parameterName}, value=${_csrf.token}" />
                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div> <!-- end of modal footer -->

            </form>
        </div> <!-- end of modal content -->
    </div> <!-- end of modal dialog -->
</div> <!-- end of modal-->

<script src="/scripts/upload.js"></script>

</body>
</html>