<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ooops, Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/error-pages.css" />
</head>
<body>

<th:block th:switch="${error}">
    <div th:case="'Not Found'">
        <h1 class="error-header">Page not found!!</h1>
    </div>
    <div th:case="'Forbidden'">
        <h1 class="error-header">You don't have permission to view this page.</h1>
    </div>
    <div th:case="'Bad Request'">
        <h1 class="error-header">We cannot find this what you're looking for! Try the search bar...</h1>
    </div>

    <p th:text="${error}"/>
</th:block>

<iframe
        src="//giphy.com/embed/ybtzNdsjtKQMg"
        width="480"
        height="300"
        align="middle"
        frameBorder="0"
        class="giphy-embed"
        allowFullScreen="allowfullscreen"
></iframe>

<a th:href="@{/}"><h1 class="error-header">Return to ARTiScene</h1></a>

</body>
</html>