@import url('https://fonts.googleapis.com/css?family=Roboto|Walter+Turncoat');

/*@-ms-viewport{*/
    /*width: device-width;*/
/*}*/

body{
    background-color: black;
}

p{
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Walter Turncoat', cursive;
}

a {
    color: #587c24;
}

a:hover {
    color: #97bb2b;
    text-decoration: none;
}

.main-header{
    font-family: 'Walter Turncoat', cursive;
    text-align: center;
    font-size: 10em;
    color: black;
    text-shadow: 3px 5px 5px #587c24;
}

.header {
    font-family: 'Walter Turncoat', cursive;
    padding: 20px;
    font-size: 40px;
}

.scroll-block {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 225px;
    border: 2px solid white;
}

.thumbnail {
    flex: none;
    align-self: center;
    width: 200px;
    height: 200px;
    margin: 5px;
}

#homepage-header-block {
    background-image: url('../img/block-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em 0 16em 0;
}



