@import url('https://fonts.googleapis.com/css?family=Open+Sans|Cabin+Sketch');

/* ----------------------------------------------- Classes for different page & form backgrounds */

.page {
    background-color: black;
}

.form {
    background: url('../img/roller_bg.jpg') no-repeat center fixed;
    background-size: cover;
}

/* ----------------------------------------------- Custom Bootstrap Button Color */

.btn {
    font-family: 'Open Sans', sans-serif;
}

.btn-custom {
    font-family: 'Open Sans', sans-serif;
    background-color: #598B2C;
    color: #DCF0D0;
}

/* ----------------------------------------------- Navbar Styling */


.navbar-custom {
    background-color: black;
    color: #DCF0D0;
    font-size: 1.1em;
}

.navbar-custom > li > a:hover {
    color: #598B2C;
}

.nav .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #598B2C;
    color: black;
}

#brand {
    color: #DCF0D0;
    font-size: 2.5em;
}

#collapse-icon {
    color: #DCF0D0;
}

#logout-btn {
    display:block;
    color: #DCF0D0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 12px;
    border: none;
    font-size: 1em;
    text-align: left;
}

#logout-btn:hover {
    background-color: #598B2C;
    color: black;
}

#collapse-btn {
    border: 1px solid #DCF0D0;
}

/* ----------------------------------------------- General Styling */

p{
    font-family: 'Open Sans', sans-serif;
}

nav {
    font-family: 'Cabin Sketch', cursive;
}

a {
    color: #DCF0D0;;
}

a:hover {
    color: #DCF0D0;
    text-decoration: none;
}

.main-header{
    display: inline;
    position: relative;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    font-size: 10vw;
    letter-spacing: 5px;
    color: #97D062;
    animation-name: changingHeader;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes changingHeader {
    0% {
        color: #3C5A14;
        letter-spacing: 5px;
    }
    25% {
        color: #97D062;
        letter-spacing: 6px;
    }
    50% {
        color: #3C5A14;
        letter-spacing: 5px;
    }
    75% {
        color: #97D062;
        letter-spacing: 6px;
    }
    100% {
        color: #3C5A14;
        letter-spacing: 5px;
    }
}

.header {
    display: block;
    font-family: 'Cabin Sketch', cursive;
    padding: 10px;
    font-size: 40px;
}

#featured-artwork-div {
    color: #DCF0D0;
    background: #3C5A14;
}

#featured-artwork-div > h3 {
    text-shadow: 2px 2px 1px black;
}

#featured-artwork-div > span {
    text-shadow: none;
}

.homepage-header > .header {
    margin-left: 40px;
}

.artwork-div .homepage-header > h3 {
    font-size: 10vw;
    margin-left: 40px;
}

.sub-header {
    font-family: 'Cabin Sketch', cursive;
    padding:5px;
    font-size: 26px;
    color: #DCF0D0;
}

#featured-artwork-div > .header > span {
    display: block;
    float: right;
    font-size: 14px;
    color: #DCF0D0;
    margin: 10px;
    border: 1px solid #DCF0D0;
    padding: 5px;
}

#featured-artwork-div > .header > span > a {
    font-size: 14px;
    color: #DCF0D0;
}

.scroll-block {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    height: 225px;
}

#homepage-load-artwork {
    margin-bottom: 50px;
}

#homepage-load-artwork > div > a > img {
    max-height: 200px;
    margin: 5px;
}

.thumbnail {
    align-self: center;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.header-block {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100vw;
}

#homepage-header-block {
    padding: 50px 0 50px 0;
}

#homepage-header-block > .sub-header {
    text-shadow: 2px 2px 3px black;
}

#portfolio-header-block {
    background-image: url('../img/two-pencils.jpg');
    padding: .2em;
    text-align: center;
    color: white;
    font-size: 3em;
}

/*#forum-header-block {*/
    /*background-image: url('../img/paint-brushes.jpeg');*/
    /*padding: 8em 0 8em 0;*/
    /*text-align: center;*/
    /*color: white;*/
/*}*/

#profile-header {
    text-shadow: 1px 2px 2px black;
}

#profile-edit-btn {
    float: right;
    margin:3px;
}

#upload-artwork-btn{
    float: right;
    margin:3px;

}

#portfolio-stripe-button {
    float: right;
    margin: 3px;
}

#profile-body{
    width: 100vw;
    padding: 10px;
}

#profile-info-div {
    text-align: center;
    font-family: 'Karma', serif;
    color:black;
    padding: 10px;
    background-color: #598B2C;
    margin: 5px;
    box-sizing: border-box;
}

.profile-pic {
    max-width: 200px;
}

#profile-info-div > img {
    box-shadow: 2px 2px 3px black;
}

#profile-info-div > .sub-header {
    font: 10vw 'Cabin Sketch', cursive;
    color: white;
    font-size: 2.5em;
}

profile-info-div > * {
    max-width: 250px;
}

.info-text {
    font-family: 'Open Sans', sans-serif;
}

#location-and-email-div {
    text-align: left;
    margin: auto 0;
    max-width: 250px;
}

#interests-div {
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

#interest-header {
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    color: #DCF0D0;
    text-shadow: 1px 1px 1px black;
}

#profile-interest {
    background-color: #DCF0D0;
    padding: 5px;
    margin: 5px;
}

#profile-main-column {
    margin: 5px;
    box-sizing: border-box;
    float: left;
    width:100%;
}

#profile-about-me{
    background-color: #DCF0D0;
    color: black;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

#profile-about-me > .sub-header {
    color: black;
    font-size: 30px;
    text-align: center;
}

#profile-about-me > p {
    padding: 20px;
}

#portfolio-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#portfolio-div > .sub-header{
    color: white;
}

.artwork-div {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#load-portfolio > div > a > img {
    max-height: 200px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #DCF0D0;
}

/* ----------------------------------------------- Gallery styling */


#gallery-header-block {
    background-image: url('../img/streetart.jpeg');
    padding: 8em 0 8em 0;
    text-align: center;
    color: white;
}

#gallery-header-block > h1 {
    font-size: 4em;
}

#search-by-tags {
    font-family: 'Open Sans', sans-serif;
    color: white;
    size: 16px;
}

#gallery-search-div {
    margin: 0 auto;
    width: 80%;
}

#gallery-search-btn {
    max-height: 32px;
    margin-left: 2px;
}

#load-projects {
    display: flex;
    justify-content: center;
}

#load-projects > div {
    text-align: center;
    margin: 10px;
    padding: 3px;
}

#load-projects > div > a > img {
    max-height: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #DCF0D0;
    background-color: black;
}

#load-projects > div > div > a > img {
    max-height: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #DCF0D0;
    background-color: black;
}


/* ----------------------------------------------- Form styling */

.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: rgba(0, 0, 0, .8);
    margin: 0 auto;
}

.form-header {
    text-align: center;
    color: white;
}

.form-header > .header {
    letter-spacing: 3px;
}

#upload-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
    border: 1px dashed white;
    padding: 20px;
    width: 80%;
}

.buttons > .btn {
    padding: 10px;
    font-family: 'Cabin Sketch', cursive;
    margin:10px;
}

#price-div {
    display: none;
}

/* ----------------------------------------------- Modal Styling */

.modal-content {
    background-color: black;
}

.modal-title {
    font-family: 'Cabin Sketch', cursive;
    color: #97D062;
    font-size: 28px;
}

.modal-body {
    font-family: 'Open Sans', sans-serif;
}

.modal-body > .form-group > label {
    font-size: 16px;
    color: white;
}

.forum-category {
    border: 1px dashed white;
    margin: 5px;
    padding: 20px;
}

.category-header {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    color: white;
}

.checkbox > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}

.required-field {
    color: red;
}


#category-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#upload-modal > .modal-dialog > .modal-content > .modal-body > form > .form-group > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}

#edit-profile-modal > .modal-dialog > .modal-content > .modal-body > form > .form-group > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}

#register-modal > .modal-dialog > .modal-content > .modal-body > form > .form-group > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}

.error-text{
    color: red;
}

#for-sale-checkbox {
    margin-top: 0;
}

#for-sale-div {
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 5px;
}

#for-sale-div > #price-div > label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}

#max-file {
    margin-left: 90px;
}

#tag-required {
    margin-left: 90px;
}

#output {
    margin: 0 auto;
    max-height: 200px;
    max-width: 500px;
    padding: 10px;
}

