/* ARTWORK / VIEW */

#display-artwork-div {
    width: 80%;
    margin: 0 auto;
}

#display-artwork-div > img {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

#artwork-info {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

#btn-block {
    background-color: #598B2C;
}

#btn-div {
    margin: 10px;
}

#btn-div > form {
    display:inline;
}

#view-title {
    font-size: 20px;
}

#view-tags-div {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
}

#view-tags {
    display: inline;
}

#view-tags > span {
    color: #888888;
}

#view-btns > form > button {
    margin: 20px 2px 20px 5px;
}