<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Gallery - ARTiScene')"></head>
<body class="page">
<div th:replace="fragments/navbar :: navbar"></div>

<div id="forum-header-div" class="header-block">
    <h1 class="header">ARTiScene Forum</h1>
    <p>Welcome to our forum where artists and art lovers alike can interact with each other</p>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>