<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Portfolio')"></head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div id="gallery-header-block">
    <h2 class="header">ARTiScene Gallery</h2>
    <input type="text" placeholder="search artwork by tags" />
</div>

<div id="gallery-body">
    <div id="gallery-artwork-div" class="artwork-div">
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
        <img class="thumbnail" src="" />
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>