<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Gallery - ARTiScene')"></head>
<body class="page">
<div th:replace="fragments/navbar :: navbar"></div>

<div id="gallery-header-block" class="header-block container-fluid">
    <h1 class="header">ARTiScene Gallery</h1>
    <form th:action="@{/gallery}" method="post">
        <div id="gallery-search-div" class="input-group">
            <div class="form-group">

                <label id="search-by-tags" class="control-label col-sm-2" for="tag-select">Search by tag</label>
                <div class="row">
                    <select id="tag-select" class="form-control" multiple="multiple" name="tags" style="width: 80%">
                        <option th:each="tag: ${tags}" th:value="${tag.id}" th:text="${tag.name}" ></option>
                    </select>
                    <button id="gallery-search-btn" class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>

            </div>
            <!--<div class="input-group-btn">-->
                <!--<button class="btn btn-default" type="submit">-->
                    <!--<i class="glyphicon glyphicon-search"></i>-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </form>
</div>

<div id="gallery-body">

    <div class="artwork-div" id="gallery-load-artwork">
        <div th:each="project: ${projects}">
            <div>
                <a th:href="${'/view/' + project.id}">
                    <img th:src="${'/uploads/' + project.img_url}" alt="No image"/>
                </a>
            </div>
        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer"></div>
<script src="/scripts/gallery.js"></script>
<script>$("#tag-select").select2({
    //theme: "bootstrap"
});</script>
</body>

</html>