<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('ARTiScene')"></head>
<body class="page">

    <div th:replace="fragments/navbar :: navbar"></div>

    <div id="homepage-header-block" class="header-block container-fluid">
            <h1 class="main-header">ARTiScene</h1>
            <h2 class="sub-header"> A community for Artists and Art Lovers</h2>
        <button class="btn btn-lg btn-custom" onclick="location.href='/gallery'">Gallery</button>
        <a th:href="@{/home/random}" id="random-portfolio-btn" class="btn btn-lg btn-custom">Random</a>
    </div> <!-- end of homepage-header-block -->

    <div id="featured-artwork-div" class="homepage-header">
        <h3 class="header">Featured Artwork<span><a th:href="@{/gallery}">View All</a></span></h3>
    </div>
    <div id="homepage-art-block" class="container-fluid">
        <div class="container scroll-block" id="homepage-load-artwork">
        <!-- artwork populated here from home.js -->
        </div>
    </div> <!-- end of homepage-art-block -->

    <div th:replace="fragments/footer :: footer"></div>
    <script src="/scripts/home.js"></script>

</body>
</html>