<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Profile - ARTiScene')"></head>
<body class="page">
<div th:replace="fragments/navbar :: navbar"></div>

    <div id="portfolio-header-block" class="header-block container-fluid">
        <h1 id="profile-header" class="header"> <span th:text="${loggedInUser.username}"></span>'s profile!</h1>
        <button id="upload-artwork-btn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#upload-modal">Upload Artwork</button>
        <button id="profile-edit-btn" class="btn btn-default btn-sm">Edit Profile</button>

        <!-- Modal -->
        <div th:replace="fragments/upload-modal :: upload-modal"></div>
    </div><!-- end of portfolio header block -->

    <div id="profile-body">

        <div id="profile-info-div">
            <img class="thumbnail" src="" />
            <h3 class="sub-header" th:text="${loggedInUser.username}"></h3>
            <h4>Location</h4>
            <h6><span th:text="${loggedInUser.email}"></span></h6>
            <h6>Member since : MM/YYYY</h6>
        </div> <!-- end of profile info div -->

        <div id="profile-main-column">
            <div id="profile-about-me">
                <h3 class="sub-header">About <span th:text="${loggedInUser.username}"></span></h3>
                <p>Click the "Edit Profile" button and let us know all about you!
                </p>
            </div><!-- end of profile about me -->

            <div id="portfolio-div">
                <h3 class="sub-header"><span th:text="${loggedInUser.username}"></span>'s Portfolio</h3>

                <div class="artwork-div" id="load-portfolio">

                </div> <!-- end of portfolio artwork div-->
            </div><!-- end of portfolio div -->

            <div id="favorites-div">
                <h3 class="sub-header"><span th:text="${loggedInUser.username}"></span>'s Favorites</h3>
                <div class="artwork-div">
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                    <img class="thumbnail" src="" />
                </div>
            </div><!-- end of favorites div -->
        </div><!-- end of profile main column -->
    </div><!-- end of profile body -->

    <div th:replace="fragments/footer :: footer"></div>
    <input type ="hidden" id="user_id" th:value="${loggedInUser.id}" />
    <script src="/scripts/upload.js"></script>
    <script src="/scripts/portfolio-list.js"></script>
    <script>
        var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>

</body>
</html>