<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: header('Profile - ARTiScene')"></head>
<body class="page">
<div th:replace="fragments/navbar :: navbar"></div>

    <!-- Header Block -->
    <div id="portfolio-header-block" class="header-block container-fluid">
        <h1 id="profile-header" class="header"> <span th:text="${loggedInUser.username}"></span>'s profile</h1>

        <div th:if="${showEditControls}">
            <button id="upload-artwork-btn" class="btn btn-success btn-sm" data-toggle="modal" data-target="#upload-modal">Upload Artwork</button>
            <button id="profile-edit-btn" class="btn btn-default btn-sm" data-toggle="modal" data-target="#edit-profile-modal">Edit Profile</button>
            <a id="portfolio-stripe-button" class="btn btn-primary btn-sm" href="https://connect.stripe.com/oauth/authorize?response_type=code&amp;client_id=ca_AAoE51ADyJNRUZfkhjed88sHXNfP79F3&amp;scope=read_write">
                Connect with Stripe
            </a>
        </div>
    </div><!-- end of portfolio header block -->

    <!-- Modal Fragments -->
    <div th:replace="fragments/upload-modal :: upload-modal"></div>
    <div th:replace="fragments/edit-profile-modal :: edit-profile-modal"></div>

    <!-- Profile Body -->
    <div id="profile-body" class="row">

        <div id="profile-info-div" class="col-md-3 pull-md-9 col-sm-4 offset-sm-4">
                <img th:if="${loggedInUser.profile_pic}"  class="profile-pic" th:src="${'/uploads/' + loggedInUser.profile_pic}"  />
                <img th:if="!${loggedInUser.profile_pic}"  class="profile-pic" src="/img/default.jpeg" />
            <h3 class="sub-header" th:text="${loggedInUser.username}"></h3>
            <h4>Location</h4>
            <h5 th:if="${loggedInUser.location}" th:text="${loggedInUser.location}"></h5>
            <h5 th:if="!${loggedInUser.location}">CLick "Edit Profile" and tell us where you are from!</h5>
            <h6><span th:text="${loggedInUser.email}"></span></h6>
            <h6 id="interest-header"><span th:text="${loggedInUser.username}"></span>'s Interests</h6>
            <div id="profile-interest">
                <p th:if="${loggedInUser.interests}"   th:text="${loggedInUser.interests}"></p>
                <p th:if="!${loggedInUser.interests}" >Click on the "Edit Profile" button and let everyone know what interests you!</p>
            </div>
        </div> <!-- end of profile info div -->

        <div id="profile-main-column" class="col-md-8 push-md-3 col-sm-12">
            <div id="profile-about-me">
                <h3 class="sub-header">About <span th:text="${loggedInUser.username}"></span></h3>
                <p th:if="${loggedInUser.bio}" th:text="${loggedInUser.bio}"></p>
                <p th:if="!${loggedInUser.bio}">Click the "Edit Profile" button!  Tell us about you!</p>
            </div><!-- end of profile about me -->
            <div id="portfolio-div">
                <h3 class="sub-header"><span th:text="${loggedInUser.username}"></span>'s Portfolio</h3>
                <div class="artwork-div" id="load-portfolio">
                    <!-- artwork populated here from portfolio-list.js-->
                </div> <!-- artwork div-->
            </div><!-- end of portfolio div -->
        </div><!-- end of profile main column -->

    </div><!-- end of profile body -->

    <div th:replace="fragments/footer :: footer"></div>

    <input type ="hidden" id="user_id" th:value="${loggedInUser.id}" />

    <script src="/scripts/upload.js"></script>
    <script src="/scripts/portfolio-list.js"></script>
    <script>
        var loadFile = function(event) {
            var output = $(event.target).siblings('img').first();
            output.attr('src', URL.createObjectURL(event.target.files[0]));
        };
    </script>
</body>
</html>